<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>

  <link rel="stylesheet" href="{{ site.template_url }}/dist/app.css?v={{ BUILD_VERSION }}">

  <script>
    window.lazySizesConfig = window.lazySizesConfig || {};
    lazySizesConfig.loadMode = 1;
    lazySizesConfig.preloadAfterLoad = true;
  </script>

  {% block head %}
  {% endblock %}
</head>

<body>
  <div id="main-wrapper">
    <!-- Header -->
    {% block page_header %}
      {% include 'components/c-header.twig' %}
    {% endblock %}

    <!-- Main -->
    <main id="page-container" class="page-container">
      {% block page_content %}
      {% endblock %}
    </main> <!-- end #page-container .page-container -->

    <!-- Footer -->
    {% block page_footer %}
      {% include 'components/c-footer.twig' %}
    {% endblock %}
  </div> <!-- end #main-wrapper -->

  <script src="{{ site.template_url }}/dist/app.js?v={{ BUILD_VERSION }}"></script>
</body>
</html>
